.FAQ {
  $this: &;
  padding-bottom: (92.5/375)*100%;
  padding-top: (264/375)*100%;
  position: relative;
  @media screen and(min-width: 767px) {
    padding-top: (210/1280)*100%;
    padding-bottom: (256/1280)*100%;
  }

  .container {
    padding: 0 22px;
    @media screen and(min-width: 767px) {
      width: (1000/1280)*100%;
      margin: 0 auto;
      padding: 0;
    }
      #{$this}-ttl {
        h2 {
          @include Mon($colorYellow,3.2rem,1000);
          font-weight: bold;
          @media screen and(min-width: 767px) {
            font-size: 6rem;
          }
        }
        p {
          margin-bottom: 63.5px;
          @media screen and(min-width: 767px) {
            margin-bottom: 34.5px;
          }
        }
      }

      #{$this}-main {
          .menu {
            border-bottom: solid 1px $colorGrayFAQborder;
              &-item {
                &__link {
                  
                  position: relative;
                  padding: 31.5px 0 21.5px 0;
                  width: (280/375)*100%;
                }
                &__link:after {
                    content: "";
                    display: block;
                    font-weight: 900;
                    line-height: 60px;
                    position: absolute;
                    text-align: center;
                    top: 35px;
                    right: -33%;
                    width: 30px;
                    height: 30px;
                    background-image: url("../svg/plus.svg");
                    background-repeat: no-repeat;
                  }
                  &__link.on:after {
                    content: '';
                    background-image: url("../svg/minas.svg");
                    background-repeat: no-repeat;
                  }
                .submenu {
                  margin-bottom: 53.5px;
                  display: none;
                }
              }
          }
          .menu:nth-child(even) {
            background-color: $colorGrayFAQ;
          }
      }
  }//container
}//FAQ
