.footer {
    position: relative;
    height: 257px;
    background-color: $colorBlack;
    padding-right: 32px;
    @media screen and(min-width: 767px) {
        height: 612px;
        padding-right: 51px;
    }

    &-pageArrow {
        position: relative;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        margin-bottom: 208px;
        @media screen and(min-width: 767px) {
            margin-bottom: 527px;
        }
        img {
            position: absolute;
            top: 130px;
            left: 7px;
            margin-bottom: 38px;
            height: 56px;
            display: inline-block;
            background-image: url(..svg/arrow.svg);
            background-position: center;
            background-repeat: no-repeat;
            animation: footer-scroll 2.4s infinite normal;
            @media screen and(min-width: 767px) {
                top: 210px;
                left: 67px;
            }
        }
        .pagetop {
            margin-bottom: 10.5px;
        }
    }
    &-pageArrow::before {
        position: absolute;
        content: 'PAGETOP';
        @include Mon($colorWhite,.6rem,1000);
        top: -150px;
        left: 18px;
        width: 0;
        height: 220px;
        writing-mode: vertical-lr;
        transform: rotate(180deg);
        @media screen and(min-width: 767px) {
            top: -70px;
            left: 77px;
        }
    }
    &-myPortfolio {
        display: flex;
        justify-content: flex-end;
    }
}//footer
