@charset "UTF-8";

.header {

  z-index: 1000;
  &-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    padding: 0 21px 0 22.5px;
    @media screen and(min-width: 767px) {
      align-items: flex-end;
      padding: 0 21px 0 48.5px;
    }
    h1 {
      letter-spacing: 0;
      @include Mon($colorBlack,1.4rem,700);
      @media screen and(min-width: 767px) {
        @include Mon($colorBlack,3.2rem,700);
    }
    }

    &__menu {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      .target-menu {
        @include Mon($colorBlack,1.4rem,700);
        position: relative;
        z-index: 2000;
        position: fixed;
        top: 20px;
        right: 17px;
        padding-bottom: 6px;
        @media screen and(min-width: 767px) {
          @include Mon($colorBlack,2rem,700);
          margin-top: 15px;
          margin-right: 12px;
      }
      }
      .target-menu.show {
        @include Mon($colorWhite,1.2rem,700);
        @media screen and(min-width: 767px) {
          @include Mon($colorWhite,2rem,700);
      }
      }


      
      .target {
        z-index: 2000;
        position: fixed;
        top: 39px;
        right: 22px;
        @media screen and(min-width: 767px) {
          top: 72px;
          right: 20px;
          margin-right: 12px;
      }
        &__inner {
          display: block;
          position: relative;
          width: 38px;
          height: 15px;
          @media screen and(min-width: 767px) {
            width: 60px;
        }
          span {
            transition: transform .5s, opacity .5s;
          }
          &__line:nth-child(1) {
            position: absolute;
            display: block;
            width: 100%;
            height: 2px;
            background-color: #333;
          }
          &__line:nth-child(2) {
            position: absolute;
            top: 16px;
            display: block;
            width: 100%;
            height: 2px;
            background-color: #333;
          }
        }
      }
    //ハンバーガーメニュー
    .target__inner.show  {
      margin-right: 8px;
    }

    .target.show {
      z-index: 2000;
      position: fixed;
      top: 35px;
      right: 11px;
      @media screen and(min-width: 767px) {
        top: 76px;
        right: 13px;
    }
    }

        .target__inner.show span:nth-child(1) {
          transform: translateY(18px) rotate(-13deg);
          position: relative;
          z-index: 2000;
          background-color: $colorWhite;
          @media screen and(min-width: 767px) {
            transform: translateY(0px) rotate(-13deg);
        }
        }
  
        .show span:nth-child(2) {
          transform: translateY(0px) rotate(13deg);
          position: relative;
          z-index: 2000;
          background-color: $colorWhite;
          @media screen and(min-width: 767px) {
            transform: translateY(-18px) rotate(13deg);
        }
        }

        .target-list.show{
            margin-bottom: calc((23/236)*100%);
            @include Mon($colorWhite,6rem,1000);
        }
    //ハンバーガーメニュー
    }
  }

  .nav-right {
    position: fixed;
    top: 30px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .5s, visibility .5s;
    transition: opacity .1s, visibility .1s;
    &__group {
      .target-list {
        margin-bottom: 27px;
        @include Mon($colorWhite,4rem,1000);
        line-height: (49/40);
        @media screen and(min-width: 767px) {
          font-size: 6rem;
          margin-bottom: 0;
          line-height: (73/60);
      }
      }
    }
  }
  .nav-right.show {
    opacity: 1;
    visibility: visible;
    background-color: $colorBlack;
    color: $colorWhite;
    top: 0;
    z-index: 1000;
    -webkit-transition: opacity .5s, visibility .5s;
    transition: opacity .5s, visibility .5s;
    text-align: center;
    padding-top: 94px;
    @media screen and(min-width: 767px) {
      padding-top: 86px;
      line-height: 11vmin;
  }
    &__group.show {
      color: $colorWhite;
      text-align: center;
      padding-top: 94px;
    }
  }

}//header
.header.show {
  opacity: 1;
  visibility: visible;
  background-color: $colorBlack;
  top: 0;
  z-index: 1000;
}

