.service {
  position: relative;
  $this: &;
  padding-bottom: 144px;

  .container {

    h2 {
      @include Mon($colorYellow,3.2rem,1000);
      text-align: center;
      margin-bottom: 20.5px;
      @media screen and(min-width: 767px) {
        font-size: 6rem;
        text-align: left;
        margin-bottom: 76.5px;
      }
    }
  }
  &-container {
    margin-bottom: (45/375)*100%;
    @media screen and(min-width: 767px) {
      display: flex;
      margin-right: $space;
      display: flex;
      margin-bottom: (100/1143)*100%;
    }
    &__img {
      margin-bottom: 45px;
      background-image: url("../img/service-top.png");
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      height: 252px;
      @media screen and(min-width: 767px) {
        background-image: url("../img/service-top-pc@2x.png");
        width: (669/1142)*100%;
        height: 446px;
        margin-bottom: 0;
      }
    }

    #{$this}-txt {
      color: black;
      padding: 0 23px 0 26px;
        @media screen and(min-width: 767px) {
          width: (572/1142)*100%;
          padding: 0;
          margin-top: 233px;
          margin-left: -98px;
        }
      p:nth-child(1) {
        font-size: 2.4rem;
        @media screen and(min-width: 767px) {
          font-size: 3.8rem;
        }
      }
      p:nth-child(2)  {
        font-size: 2.4rem;
        margin-bottom: 2.1rem;
        @media screen and(min-width: 767px) {
          font-size: 3.8rem;
          margin-bottom: 42px;
        }
      }
      p:nth-child(3)  {
        margin-bottom: 45px;
        @media screen and(min-width: 767px) {
          margin-bottom: 0;
          line-height: calc(35/18);
        }
      }
    }
  }
  .container {

      @media screen and(min-width: 767px) {
        width: (1000/1280)*100%;
        margin: 0 auto;
      }
    #{$this}-icon {
      margin-bottom: (138/375)*100%;
      @media screen and(min-width: 767px) {
        margin-bottom: (138/1125)*100%;
      }

      .serviceIcon {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        letter-spacing: 0;
        text-align: center;
        @media screen and(min-width: 767px) {
          flex-wrap: nowrap;

        }
        li:nth-child(1) {
          width: 40%;
          margin-bottom: 58px;

          @media screen and(min-width: 767px) {
            width: 25%;
            margin: 0 20px;
          }
          p {
            margin-bottom: 20px;
            font-size: 2.1rem;
            text-align: center;
          }
          div {
            display: none;
            @media screen and(min-width: 767px) {
              line-height: 1.75;
            }
            p {
              font-size: 1.2rem;
              text-align: left;
              margin-bottom: 0;
              position: relative;
            }
            p::before {
              content: '';
              position: absolute;
              top: 4px;
              left: -11px;
              background-image: url(../svg/triangle.svg);
              width: 8px;
              height: 9px;
            }
            p::after {
              content: '';
              position: absolute;
              top: 4px;
              left: -8px;
              background-image: url(../svg/triangle-back.svg);
              width: 8px;
              height: 9px;
              z-index: -100;
            }
            @media screen and(min-width: 767px) {
              display: block;
            }
          }
        }
        li:nth-child(2) {
          width: 60%;
          margin-bottom: 58px;
          @media screen and(min-width: 767px) {
            width: 30%;
            margin: 0 20px;
          }
          p {
            margin-bottom: 20px;
            font-size: 2.1rem;
            text-align: center;
            
          }
          div {
            display: none;
            @media screen and(min-width: 767px) {
              line-height: 1.75;
            }
            p {
              font-size: 1.2rem;
              text-align: left;
              margin-bottom: 0;
              position: relative;
            }
            p::before {
              content: '';
              position: absolute;
              top: 4px;
              left: -11px;
              background-image: url(../svg/triangle.svg);
              width: 8px;
              height: 9px;
            }
            p::after {
              content: '';
              position: absolute;
              top: 4px;
              left: -8px;
              background-image: url(../svg/triangle-back.svg);
              width: 8px;
              height: 9px;
              z-index: -100;
            }
            @media screen and(min-width: 767px) {
              display: block;
            }
          }
        }
        li:nth-child(3) {
          width: 40%;
          @media screen and(min-width: 767px) {
            width: 25%;
            margin: 0 20px;
          }
          p {
            margin-bottom: 20px;
            font-size: 2.1rem;
            text-align: center;
          }
          div {
            display: none;
            @media screen and(min-width: 767px) {
              line-height: 1.75;
            }
            p {
              font-size: 1.2rem;
              text-align: left;
              margin-bottom: 0;
              position: relative;
            }
            p::before {
              content: '';
              position: absolute;
              top: 4px;
              left: -11px;
              background-image: url(../svg/triangle.svg);
              width: 8px;
              height: 9px;
            }
            p::after {
              content: '';
              position: absolute;
              top: 4px;
              left: -8px;
              background-image: url(../svg/triangle-back.svg);
              width: 8px;
              height: 9px;
              z-index: -100;
            }
            @media screen and(min-width: 767px) {
              display: block;
            }
          }
        }
        li:nth-child(4) {
          width: 60%;
          @media screen and(min-width: 767px) {
            width: 30%;
            margin: 0 20px;
          }
          p {
            margin-bottom: 20px;
            font-size: 2.1rem;
            text-align: center;
          }
          div {
            display: none;
            @media screen and(min-width: 767px) {
              line-height: 1.75;
            }
            p {
              font-size: 1.2rem;
              text-align: left;
              margin-bottom: 0;
              position: relative;
            }
            p::before {
              content: '';
              position: absolute;
              top: 4px;
              left: -11px;
              background-image: url(../svg/triangle.svg);
              width: 8px;
              height: 9px;
              z-index: 200;
            }
            p::after {
              content: '';
              position: absolute;
              top: 4px;
              left: -8px;
              background-image: url(../svg/triangle-back.svg);
              width: 8px;
              height: 9px;
              z-index: -100;
            }
            @media screen and(min-width: 767px) {
              display: block;
            }
          }
        }
      }
    }

    #{$this}-bottomImg {
      margin-bottom: 86.5px;
      position: relative;
      img {
        width: 100%;
        @media screen and(min-width: 767px) {
          width: (546.5/1000)*100%;
          margin-left: auto;
          display: flex;
        }
      }
    }
    #{$this}-bottomImg::before {
      position: absolute;
      content: '122%';
      top: 75%;
      left: 5%;
      font-size: 9rem;
      -webkit-text-stroke-width: 3px;
      -webkit-text-stroke-color: #FBCC07;
      -webkit-text-fill-color: rgba(255,255,255,0.61);
      font-family: 'Montserrat', sans-serif;
      @media screen and(min-width: 767px) {
        top: 50%;
        left: 31%;
        font-size: 25rem;
        transform: translate(-50%, -50%);
      }
    }

    #{$this}-txt {
      padding: 0 23px 0 26px;
      @media screen and(min-width: 767px) {
        width: calc((570/1000)*100%);
        padding: 0;
      }
      p:nth-child(1) {
        @media screen and(min-width: 767px) {
          font-size: 3.8rem;
        }
      }
      p:nth-child(2)  {
        margin-bottom: 33px;
        @media screen and(min-width: 767px) {
          font-size: 3.8rem;
          margin-bottom: 18px;
        }
      }

      p:nth-child(3),p:nth-child(4),p:nth-child(5),p:nth-child(6) {
        @media screen and(min-width: 767px) {
          font-size: 1.8rem;
          margin-bottom: 0;
          line-height: calc(35/18);
        }
      }
    }
  }
}//service
