@charset "UTF-8";
@font-face {
  font-family: 'Avenir';
  src: url("../font/Metropolis-Black.otf.otf") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

body {
  font-size: 1.2em;
  margin: 0;
  padding: 0;
  font-family: "游ゴシック体";
  font-weight: bold;
  color: #333;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p,
h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ol,
ul,
li,
dl,
dt,
dd {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

a:hover {
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
  opacity: 0.6;
}

img {
  max-width: 100%;
  height: auto;
}

::-webkit-scrollbar {
  width: 0;
}

.header-box {
  height: 65px;
}

@media screen and (min-width: 767px) {
  .header-box {
    height: 111px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 102px 0 94px;
  }
}

.header-box__logo {
  display: none;
}

@media screen and (min-width: 767px) {
  .header-box__logo {
    display: block;
    line-height: 111px;
  }
}

.header-box__logo h1 {
  font-size: 1.2rem;
}

.header-box__nav {
  display: none;
}

@media screen and (min-width: 767px) {
  .header-box__nav {
    display: block;
    line-height: 111px;
  }
}

.header-box__nav .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-box__nav .nav-list li + li {
  margin-left: 52px;
}

.header-box__nav .nav-list a {
  color: #333333;
  color: #444444;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Avenir', sans-serif;
}

.footer {
  background-color: #202037;
  height: 165px;
}

.about-footer {
  background-color: #202037;
  height: 165px;
  margin-bottom: 332px;
}

.service-footer {
  background-color: #202037;
  height: 165px;
  margin-bottom: 332px;
}

.main-visual {
  position: relative;
}

.main-visual__img .slider01 {
  background-image: url("../img/main-visual-slider01.png");
  width: 100vw;
  height: 463px;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 767px) {
  .main-visual__img .slider01 {
    height: 750.44px;
  }
}

.main-visual__img .slider02 {
  background-image: url("../img/main-visual-slider02.png");
  height: 463px;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 767px) {
  .main-visual__img .slider02 {
    height: 750.44px;
  }
}

.main-visual__img .slider03 {
  background-image: url("../img/main-visual-slider03.png");
  height: 463px;
  background-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-width: 767px) {
  .main-visual__img .slider03 {
    height: 750.44px;
  }
}

.main-visual__txt {
  position: absolute;
  top: 50%;
  left: 36%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

@media screen and (min-width: 767px) {
  .main-visual__txt {
    left: 36%;
  }
}

.main-visual__txt .main-ttl-img {
  background-position: left;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: contain;
}

@media screen and (min-width: 767px) {
  .main-visual__txt .main-ttl-img {
    margin-bottom: 53.5px;
  }
}

.main-visual__txt p:nth-child(1) {
  width: 82.93333vw;
  color: #FFFFFF;
}

@media screen and (min-width: 767px) {
  .main-visual__txt p:nth-child(1) {
    width: 55.85938vw;
  }
}

.main-visual__txt p:nth-child(2) {
  width: 55.85938vw;
  color: #FFFFFF;
}

@media screen and (min-width: 767px) {
  .main-visual__txt p:nth-child(2) {
    width: 52.8125vw;
    font-size: 2.4rem;
  }
}

.news {
  padding-bottom: 77.4px;
}

@media screen and (min-width: 767px) {
  .news {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    position: relative;
  }
}

.news-article {
  margin-top: 31.4px;
  padding: 0 20.6px 0 17px;
}

@media screen and (min-width: 767px) {
  .news-article {
    width: 50.23438%;
    padding: 87px 94px 82px 49.2px;
    top: -96px;
    left: 0;
    z-index: 200;
    background-color: #FFFFFF;
    padding-top: 87px;
    padding-bottom: 82px;
    margin-top: 0;
    background-color: #FAFAFA;
  }
}

.news-article h2 {
  margin-bottom: 8px;
  color: #A4ABB0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Avenir', sans-serif;
}

@media screen and (min-width: 767px) {
  .news-article h2 {
    display: none;
  }
}

.news-article .latest-news {
  display: none;
}

@media screen and (min-width: 767px) {
  .news-article .latest-news {
    display: block;
    margin-bottom: 38px;
    color: #A4ABB0;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 0.05em;
    font-family: 'Avenir', sans-serif;
  }
}

.news-article .article-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media screen and (min-width: 767px) {
  .news-article .article-txt {
    margin-bottom: 21px;
  }
}

.news-article .article-txt time {
  color: #1C1C1C;
}

@media screen and (min-width: 767px) {
  .news-article .article-txt time {
    font-size: 1.6rem;
  }
}

.news-article .article-txt a {
  display: inline-block;
  color: #333333;
  width: 53.06667vw;
  margin-left: 36.8px;
}

@media screen and (min-width: 767px) {
  .news-article .article-txt a {
    font-size: 1.4rem;
  }
}

.news-article .news-border {
  background-color: #202037;
  height: 10.78px;
  margin-top: 13px;
}

@media screen and (min-width: 767px) {
  .news-article .news-border {
    display: none;
  }
}

.news-txt {
  margin-top: 37px;
  padding: 0 25.4px 0 26.3px;
}

@media screen and (min-width: 767px) {
  .news-txt {
    position: relative;
    z-index: 100;
    padding: 96.8px 182.2px 66.8px 97.3px;
    margin-top: -96px;
    margin-right: -90px;
    margin-bottom: 96px;
    background: -webkit-gradient(linear, left top, left bottom, from(#364D6A), to(#599DC0));
    background: linear-gradient(to bottom, #364D6A, #599DC0);
  }
}

.news-txt h3 {
  color: #333333;
  margin-bottom: 49.8px;
  font-size: 2.2rem;
}

@media screen and (min-width: 767px) {
  .news-txt h3 {
    font-size: 2.4rem;
    line-height: 1.6;
    color: #FFFFFF;
  }
}

.news-txt p {
  color: #333333;
}

@media screen and (min-width: 767px) {
  .news-txt p {
    font-size: 1.6rem;
    line-height: 2;
    color: #ECECEC;
  }
}

.service {
  padding-bottom: 174px;
}

.service .section-ttl {
  text-align: center;
  margin-bottom: 32.4px;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .service .section-ttl {
    width: 85.9375%;
    margin: 0 auto;
    margin-bottom: 57px;
    text-align: left;
  }
}

.service .section-ttl h2 {
  color: #A4ABB0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Avenir', sans-serif;
}

@media screen and (min-width: 767px) {
  .service .section-ttl h2 {
    font-size: 4.8rem;
  }
}

.service-container {
  padding: 0 32px 0 27px;
}

@media screen and (min-width: 767px) {
  .service-container {
    padding: 0;
    width: 85.9375%;
    margin: 0 auto;
  }
}

@media screen and (min-width: 767px) {
  .service-container__group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 10px;
  }
}

.service-container__group li {
  margin-bottom: 57.1px;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .service-container__group li {
    width: 29.81818%;
  }
}

.service-container__group li img {
  width: 100%;
  max-width: 328px;
}

@media screen and (min-width: 767px) {
  .service-container__group li img {
    max-width: auto;
  }
}

.service-container__group li .img-ttl__box {
  border: 2px solid #202037;
  height: 53px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 100;
  position: relative;
  width: 89.32831%;
  max-width: 293px;
  margin: 0 auto;
  margin-top: -24px;
  margin-bottom: 27.9px;
}

.service-container__group li .img-ttl__box span {
  padding: 0 9.5px 0 9.8px;
  width: 23.16356%;
  background-color: #202037;
  font-size: 2rem;
  line-height: 53px;
  color: #FFFFFF;
}

.service-container__group li .img-ttl__box .img-ttl-name {
  display: inline-block;
  width: 76.83644%;
  font-size: 2.4rem;
  line-height: 53px;
  background-color: #FFFFFF;
  text-align: center;
}

.service-container__group li p {
  width: 89.32831%;
  margin: 0 auto;
  text-align: left;
  max-width: 293px;
  font-size: 1.4rem;
}

.service .link-btn {
  padding: 0 29px 0 33px;
  max-width: 298px;
  margin: 0 auto;
}

@media screen and (min-width: 767px) {
  .service .link-btn {
    padding: 0;
  }
}

.service .link-btn a {
  display: block;
  max-width: 298px;
  font-size: 1.6rem;
  color: #FFFFFF;
  height: 69px;
  line-height: 69px;
  max-width: 298px;
  text-align: center;
  background-color: #202037;
  border-radius: 50px;
}

.blog {
  padding-bottom: 174px;
  padding-top: 116px;
}

.blog .section-ttl {
  text-align: center;
  margin-bottom: 32.4px;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .blog .section-ttl {
    width: 85.9375%;
    margin: 0 auto;
    margin-bottom: 57px;
    text-align: left;
  }
}

.blog .section-ttl h2 {
  color: #A4ABB0;
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Avenir', sans-serif;
}

@media screen and (min-width: 767px) {
  .blog .section-ttl h2 {
    font-size: 4.8rem;
  }
}

.blog-container {
  padding: 0 28.2px 0 29px;
}

@media screen and (min-width: 767px) {
  .blog-container {
    padding: 0;
    width: 85.9375%;
    margin: 0 auto;
  }
}

.blog-container__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 767px) {
  .blog-container__group {
    margin-bottom: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
}

.blog-container__group li {
  margin-bottom: 3.24rem;
}

@media screen and (min-width: 767px) {
  .blog-container__group li {
    width: 30.45455%;
  }
}

.blog-container__group li img {
  max-width: 335px;
  width: 100%;
  height: 231px;
  -o-object-fit: cover;
     object-fit: cover;
}

.blog-container__group li .img-ttl {
  position: relative;
  margin-bottom: 10.4px;
}

.blog-container__group li .img-ttl span {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FFFFFF;
  border: 1px solid #333333;
  font-size: 1rem;
  width: 64px;
  height: 22px;
  line-height: 22px;
  text-align: center;
}

.blog-container__group li p:nth-of-type(1) {
  margin-bottom: 19px;
}

.blog .link-btn {
  padding: 0 29px 0 33px;
  max-width: 298px;
  margin: 0 auto;
}

@media screen and (min-width: 767px) {
  .blog .link-btn {
    padding: 0;
  }
}

.blog .link-btn a {
  display: block;
  max-width: 298px;
  font-size: 1.6rem;
  color: #FFFFFF;
  height: 69px;
  line-height: 69px;
  text-align: center;
  background-color: #202037;
  border-radius: 50px;
}

.mapArea {
  padding-bottom: 202px;
}

.mapArea #map {
  width: 100%;
  height: 407px;
  background-color: grey;
}

@media screen and (min-width: 767px) {
  .mapArea #map {
    margin-bottom: 160.7px;
  }
}

.mapArea .info-txt {
  padding: 0 32px 0 31px;
  margin-bottom: 57px;
  margin-top: 40px;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .mapArea .info-txt {
    margin-bottom: 50px;
  }
}

.mapArea .info-txt p {
  white-space: pre-line;
}

@media screen and (min-width: 767px) {
  .mapArea .info-txt p {
    white-space: normal;
    font-size: 2rem;
  }
}

.mapArea .content-btn {
  padding: 0 29px 0 33px;
  max-width: 520px;
  height: 112px;
  margin: 0 auto;
}

@media screen and (min-width: 767px) {
  .mapArea .content-btn {
    padding: 0;
  }
}

.mapArea .content-btn a {
  color: #FFFFFF;
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Avenir', sans-serif;
  display: block;
  max-width: 520px;
  height: 112px;
  line-height: 112px;
  text-align: center;
  background-color: #202037;
  border-radius: 100px;
}

@media screen and (min-width: 767px) {
  .mapArea .content-btn a {
    background: -webkit-gradient(linear, left top, right bottom, from(#364D6A), to(#599DC0));
    background: linear-gradient(to bottom right, #364D6A, #599DC0);
  }
}

.mapArea .background-blue {
  background-color: #202037;
  height: 10.78px;
  margin-top: 13px;
}

.about-visual-top {
  width: 100%;
  background-color: #202037;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 767px) {
  .about-visual-top {
    height: 287px;
  }
}

.about-visual-top h2 {
  font-size: 4.8rem;
  color: #FFFFFF;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Avenir', sans-serif;
}

.about-visual__img .slider03 {
  background-image: url("../img/main-visual-slider03.png");
  height: 463px;
  background-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.suggestion {
  padding: 0 40px;
  margin-top: 40px;
}

@media screen and (min-width: 767px) {
  .suggestion {
    padding: 0 0 114px 0;
    margin-top: 0;
  }
}

.suggestion .support {
  background-color: #FAFAFA;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  margin-top: -80px;
  position: relative;
  z-index: 100;
  margin-bottom: 30px;
}

@media screen and (min-width: 767px) {
  .suggestion .support {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 77.89062%;
    margin: 0 auto;
    padding: 75px 46px 87px 114px;
    margin-top: -200px;
    position: relative;
    z-index: 100;
    margin-bottom: 88px;
  }
}

.suggestion .support-ttl {
  margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
  .suggestion .support-ttl {
    width: 30.69208%;
  }
}

.suggestion .support-ttl p:nth-child(1) {
  color: #444444;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Avenir', sans-serif;
}

@media screen and (min-width: 767px) {
  .suggestion .support-ttl p:nth-child(1) {
    font-size: 3.6rem;
    white-space: normal;
    letter-spacing: 0.2075em;
  }
}

@media screen and (min-width: 1000px) {
  .suggestion .support-ttl p:nth-child(1) {
    white-space: nowrap;
  }
}

.suggestion .support-ttl p:nth-child(2) {
  color: #444444;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Avenir', sans-serif;
}

@media screen and (min-width: 767px) {
  .suggestion .support-ttl p:nth-child(2) {
    font-size: 3.6rem;
    white-space: normal;
    letter-spacing: 0.2075em;
  }
}

@media screen and (min-width: 1000px) {
  .suggestion .support-ttl p:nth-child(2) {
    white-space: nowrap;
  }
}

.suggestion .support-txt {
  font-size: 2rem;
}

@media screen and (min-width: 767px) {
  .suggestion .support-txt {
    width: 49.62487%;
  }
}

.suggestion .support-txt p {
  font-size: 2rem;
}

@media screen and (min-width: 767px) {
  .suggestion .support-txt p {
    letter-spacing: 0.08458em;
  }
}

.suggestion-ttl {
  margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
  .suggestion-ttl {
    width: 77.73438%;
    margin: 0 auto;
    margin-bottom: 36px;
  }
}

.suggestion-ttl h2 {
  font-size: 2.4rem;
}

@media screen and (min-width: 767px) {
  .suggestion-ttl h2 {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 767px) {
  .suggestion-container {
    width: 77.73438%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 767px) {
  .suggestion-container__left {
    width: 47.23618%;
    letter-spacing: 0.1263em;
  }
}

.suggestion-container__left p {
  margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
  .suggestion-container__left p {
    font-size: 1.4rem;
    line-height: 2;
  }
}

@media screen and (min-width: 767px) {
  .suggestion-container__right {
    width: 48.77186%;
    letter-spacing: 0.1263em;
  }
}

.suggestion-container__right p {
  margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
  .suggestion-container__right p {
    font-size: 1.4rem;
    line-height: 2;
  }
}

.office-data {
  background-color: #FAFAFA;
  padding: 40px 40px;
}

@media screen and (min-width: 767px) {
  .office-data .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 161px 0 133px 0;
    width: 68.90625%;
    margin: 0 auto;
  }
}

.office-data .container__txt {
  padding-top: 40px;
}

@media screen and (min-width: 767px) {
  .office-data .container__txt {
    width: 37.52834%;
  }
}

.office-data .container__txt h2 {
  color: #444444;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Avenir', sans-serif;
  margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
  .office-data .container__txt h2 {
    font-size: 3.6rem;
    margin-bottom: 53px;
  }
}

.office-data .container__txt .data-list li {
  margin-bottom: 20px;
}

@media screen and (min-width: 767px) {
  .office-data .container__txt .data-list li {
    font-size: 2rem;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 767px) {
  .office-data .container__img {
    width: 50.22676%;
  }
}

.office-data .container__img img {
  width: 100%;
}

.price-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 107px;
  border-bottom: 1px solid #202037;
  margin-bottom: 108px;
}

.price-menu__list {
  width: 3333.33333%;
  text-align: center;
  line-height: 107px;
  position: relative;
}

.price-menu__list p {
  font-size: 2.4rem;
}

.price-menu__list span {
  position: absolute;
  top: 78%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: inline-block;
  background-image: url("../svg/bottom-arrow.svg");
  background-repeat: no-repeat;
  width: 22px;
  height: 14px;
}

.price-list li {
  margin-bottom: 143px;
}

.price-list li .jobs-ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
  padding: 0 31px;
}

.price-list li .jobs-ttl span {
  background-color: #202037;
  width: 97px;
  height: 77px;
  text-align: center;
  line-height: 77px;
  font-size: 24px;
  color: #FFFFFF;
}

@media screen and (min-width: 767px) {
  .price-list li .jobs-ttl span {
    background-color: #202037;
    width: 97px;
    height: 77px;
    text-align: center;
    line-height: 77px;
    font-size: 24px;
    color: #FFFFFF;
  }
}

.price-list li .jobs-ttl .jobs-name {
  font-size: 1.8rem;
  margin-left: 45px;
  line-height: 77px;
  display: block;
}

@media screen and (min-width: 767px) {
  .price-list li .jobs-ttl .jobs-name {
    font-size: 2.4rem;
  }
}

.price-list li .jobs-content {
  padding: 0 31px;
  margin-bottom: 37px;
}

.price-list li .jobs-content p:nth-child(1) {
  margin-bottom: 24px;
  font-size: 2rem;
}

.price-list li .jobs-content p:nth-child(1) {
  font-size: 1.4rem;
}

.price-list li .table-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 95.15625%;
  margin: 0 auto;
  margin-bottom: 15px;
}

.price-list li .table-name p:nth-child(1) {
  width: 52.03901%;
  margin-left: 43px;
  font-size: 1.4rem;
}

.price-list li .table-name p:nth-child(2) {
  width: 24.55674%;
  margin-left: 43px;
  font-size: 1.4rem;
}

.price-list li .table-name p:nth-child(3) {
  width: 31.82624%;
  margin-left: 43px;
  font-size: 1.4rem;
}

.price-list li .table {
  border: 1px solid #333;
  border-collapse: collapse;
  table-layout: fixed;
  width: 95.15625%;
  margin: 0 auto;
  margin-bottom: 44px;
}

.price-list li .table tr #td-01 {
  width: 52.03901%;
  height: 43px;
  border: 1px solid #333;
  background-color: #F2F2F2;
}

.price-list li .table tr td:nth-child(1) {
  width: 52.03901%;
  height: 43px;
  border: 1px solid #333;
}

.price-list li .table tr td:nth-child(2) {
  width: 24.55674%;
  height: 43px;
  border: 1px solid #333;
}

.price-list li .table tr td:nth-child(3) {
  width: 31.82624%;
  height: 43px;
  border: 1px solid #333;
}

.price-list li .table tr:first-child {
  border-top: 9px solid #333;
}

.price-list li .table #tr02:nth-child(even) {
  background-color: #F2F2F2;
}

.price-list li .jobs-contentBottom {
  padding: 0 31px;
}

.price-list li .jobs-contentBottom p:nth-child(1) {
  margin-bottom: 14px;
  font-size: 2rem;
}

.price-list li .jobs-contentBottom p:nth-child(1) {
  font-size: 1.4rem;
}

.price-visual-top {
  position: relative;
  z-index: 100;
  width: 100%;
  background-color: #202037;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 767px) {
  .price-visual-top {
    height: 287px;
  }
}

.price-visual-top h2 {
  font-size: 4.8rem;
  color: #FFFFFF;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Avenir', sans-serif;
}

.service-page {
  margin-top: 134px;
  padding-bottom: 134px;
}

@media screen and (min-width: 767px) {
  .service-page {
    margin-top: 0 !important;
    margin-bottom: 131px;
    padding-top: 134px;
    border: 14px solid #F2F2F2;
  }
}

.service-page__list {
  padding: 0 20px;
  margin-top: 40px;
}

@media screen and (min-width: 767px) {
  .service-page__list {
    width: 84.14062%;
    margin: 0 auto;
    padding: 0;
  }
}

.service-page__list li {
  margin-bottom: 100px;
}

@media screen and (min-width: 767px) {
  .service-page__list li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media screen and (min-width: 767px) {
  .service-page__list li .service-page__jobs {
    width: 49.67502%;
  }
}

.service-page__list li .service-page__jobs .jobs-ttl {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.service-page__list li .service-page__jobs .jobs-ttl span {
  background-color: #202037;
  width: 97px;
  height: 77px;
  text-align: center;
  line-height: 77px;
  font-size: 24px;
  color: #FFFFFF;
}

@media screen and (min-width: 767px) {
  .service-page__list li .service-page__jobs .jobs-ttl span {
    background-color: #202037;
    width: 97px;
    height: 77px;
    text-align: center;
    line-height: 77px;
    font-size: 24px;
    color: #FFFFFF;
  }
}

.service-page__list li .service-page__jobs .jobs-ttl .jobs-name {
  font-size: 1.8rem;
  margin-left: 45px;
  line-height: 77px;
  display: block;
}

@media screen and (min-width: 767px) {
  .service-page__list li .service-page__jobs .jobs-ttl .jobs-name {
    font-size: 2.4rem;
  }
}

.service-page__list li .service-page__jobs p:nth-of-type(1) {
  font-size: 1.4rem;
  color: #888888;
}

.service-page__list li .service-page__jobs p:nth-of-type(2) {
  margin-bottom: 46px;
  color: #888888;
}

.service-page__list li .service-page__jobs p:nth-of-type(n + 3) {
  color: #888888;
}

.service-page__list li .service-page__contant {
  background-color: #FAFAFA;
  margin-top: 50px;
  padding: 40px 0 40px 0;
}

@media screen and (min-width: 767px) {
  .service-page__list li .service-page__contant {
    width: 44.37209%;
    padding: 57px 79px 57px 77px;
    margin-top: 0;
  }
}

.service-page__list li .service-page__contant p {
  text-align: center;
  position: relative;
  font-size: 2rem;
  width: 212px;
  margin: 0 auto;
  margin-bottom: 59px;
}

.service-page__list li .service-page__contant p::before {
  content: '';
  position: absolute;
  top: 0;
  left: -26px;
  width: 30px;
  height: 30px;
  background-image: url("../svg/ten.svg");
}

@media screen and (min-width: 767px) {
  .service-page__list li .service-page__contant p::before {
    left: -30px;
  }
}

.service-page__list li .service-page__contant p::after {
  content: '';
  position: absolute;
  top: -36px;
  right: -19px;
  width: 30px;
  height: 60px;
  background-image: url("../svg/tenten.svg");
}

@media screen and (min-width: 767px) {
  .service-page__list li .service-page__contant p::after {
    right: -30px;
  }
}

.service-page__list li .service-page__contant ul li {
  margin-bottom: 20px;
  color: #888888;
  font-size: 2rem;
}

@media screen and (min-width: 767px) {
  .service-page__list li .service-page__contant ul li {
    font-size: 1.2rem;
  }
}

.service-page__list li .service-page__contant ul li:last-child {
  margin-bottom: 49px;
}

.service-page__list li .service-page__contant a {
  display: block;
  background-color: #202037;
  height: 69px;
  text-align: center;
  line-height: 69px;
  color: #FFFFFF;
  border-radius: 50px;
  margin-bottom: 0;
  width: 313px;
  width: 65.61845%;
  margin: 0 auto;
}

@media screen and (min-width: 767px) {
  .service-page__list li .service-page__contant a {
    width: 62.47379%;
    max-width: 298px;
  }
}

.info-txt {
  padding: 0 32px 0 31px;
  margin-bottom: 57px;
  margin-top: 40px;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .info-txt {
    margin-bottom: 50px;
  }
}

.info-txt p {
  white-space: pre-line;
}

@media screen and (min-width: 767px) {
  .info-txt p {
    white-space: normal;
    font-size: 2rem;
  }
}

.content-btn {
  padding: 0 29px 0 33px;
  max-width: 298px;
  margin: 0 auto;
  margin-bottom: 162px;
}

@media screen and (min-width: 767px) {
  .content-btn {
    padding: 0;
    margin-bottom: 162px;
  }
}

.content-btn a {
  display: block;
  max-width: 298px;
  font-size: 1.6rem;
  color: #FFFFFF;
  height: 69px;
  line-height: 69px;
  text-align: center;
  background-color: #202037;
  border-radius: 50px;
}

@media screen and (min-width: 767px) {
  .content-btn a {
    background: -webkit-gradient(linear, left top, right bottom, from(#364D6A), to(#599DC0));
    background: linear-gradient(to bottom right, #364D6A, #599DC0);
  }
}

.service-visual-top {
  position: relative;
  z-index: 100;
  width: 100%;
  background-color: #202037;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 767px) {
  .service-visual-top {
    height: 287px;
    margin-bottom: -200px;
  }
}

.service-visual-top h2 {
  font-size: 4.8rem;
  color: #FFFFFF;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Avenir', sans-serif;
}

.service-visual__img .slider03 {
  background-image: url("../img/service-visual@2x.png");
  height: 489px;
  background-position: top;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact {
  padding: 215px 0 209px 0;
}

.contact-ttl {
  margin-bottom: 236px;
}

.contact-ttl h2 {
  font-size: 2rem;
  padding: 0 20px;
  text-align: center;
}

@media screen and (min-width: 767px) {
  .contact-ttl h2 {
    font-size: 3.2rem;
  }
}

.contact form {
  padding: 0 30px;
}

@media screen and (min-width: 767px) {
  .contact form {
    width: 65.625%;
    margin: 0 auto;
  }
}

.contact form div {
  margin-bottom: 107px;
}

.contact form div label {
  margin-bottom: 81px;
  display: inline-block;
}

.contact form div #label-message {
  margin-bottom: 37px;
  display: inline-block;
}

.contact form div #name {
  width: 100%;
  display: block;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #ADADAD;
}

.contact form div #phone {
  width: 100%;
  display: block;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #ADADAD;
}

.contact form div #email {
  width: 100%;
  display: block;
  border-right: none;
  border-left: none;
  border-top: none;
  border-bottom: 1px solid #ADADAD;
}

.contact form div #message {
  width: 100%;
  height: 347px;
  display: block;
  border: 1px solid #ADADAD;
}

.contact form .submit-wrapper {
  text-align: center;
}

.contact form .submit-wrapper .submit {
  border: none;
  max-width: 520px;
  width: 100%;
  margin: 0 auto;
  height: 112px;
  border-radius: 100px;
  font-size: 3.2rem;
  color: #ffffff;
  background: -webkit-gradient(linear, left top, right bottom, from(#364D6A), to(#599DC0));
  background: linear-gradient(to bottom right, #364D6A, #599DC0);
}

.contact-visual-top {
  position: relative;
  z-index: 100;
  width: 100%;
  background-color: #202037;
  height: 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 767px) {
  .contact-visual-top {
    height: 287px;
  }
}

.contact-visual-top h2 {
  font-size: 4.8rem;
  color: #FFFFFF;
  font-size: 4.8rem;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0.05em;
  font-family: 'Avenir', sans-serif;
}

.blog-single {
  padding: 82px 0 147px 0;
}

@media screen and (min-width: 767px) {
  .blog-single {
    width: 56.01562%;
    margin: 0 auto;
  }
}

.blog-single__main {
  padding: 0 28.2px 0 29px;
}

.blog-single__main time {
  margin-bottom: 9px;
}

.blog-single__main h2 {
  margin-bottom: 40px;
}

.blog-single__main .blog-img img {
  width: 100%;
  margin-bottom: 60px;
}

.blog-single__main p {
  margin-bottom: 55.5px;
}

.blog-single__h3 {
  padding: 0 28.2px 0 29px;
}

.blog-single__h3 h3 {
  font-size: 3.2rem;
  padding: 27.5px 0;
  border-top: solid 1px #707070;
  border-bottom: solid 1px #707070;
  margin-bottom: 55.5px;
}

.blog-single__h3 p:nth-of-type(1) {
  margin-bottom: 20px;
}

.blog-single__h3 p:nth-of-type(2) {
  margin-bottom: 72px;
}

.blog-single__h4 {
  padding: 0 28.2px 0 29px;
}

.blog-single__h4 h4 {
  font-size: 2rem;
  margin-bottom: 23px;
}

.blog-single__h4 p {
  margin-bottom: 72px;
}

.blog-single__h4 .blog-img {
  margin: 0 auto;
  width: 57.04324%;
}

.blog-single__h4 .blog-img img {
  width: 100%;
}

.blog-social {
  background-color: #F2F2F2;
  padding: 104px 0 90px 0;
}

.blog-social .sns {
  margin-bottom: 105px;
  padding: 0 28.2px 0 29px;
}

@media screen and (min-width: 767px) {
  .blog-social .sns {
    width: 55.54687%;
    margin: 0 auto;
    padding: 0;
    margin-bottom: 105px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 767px) {
  .blog-social .sns-img {
    width: 44.16315%;
  }
}

.blog-social .sns-img img {
  width: 100%;
}

@media screen and (min-width: 767px) {
  .blog-social .sns-img img {
    width: 100%;
    height: 100%;
  }
}

@media screen and (min-width: 767px) {
  .blog-social .sns-share {
    width: 55.83685%;
  }
}

.blog-social .sns-share a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
  line-height: 108px;
  text-align: center;
  border: solid 1px #D0D0D0;
  color: #343434;
  background-color: #FFFFFF;
}

.blog-social__container p {
  margin-bottom: 42px;
  font-size: 2rem;
}

.blog-social__container-box {
  padding: 0 28.2px 0 29px;
}

@media screen and (min-width: 767px) {
  .blog-social__container-box {
    padding: 0;
    width: 85.9375%;
    margin: 0 auto;
  }
}

.blog-social__container-box__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 767px) {
  .blog-social__container-box__group {
    margin-bottom: 10px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
  }
}

.blog-social__container-box__group li {
  margin-bottom: 3.24rem;
}

@media screen and (min-width: 767px) {
  .blog-social__container-box__group li {
    width: 30.45455%;
  }
}

.blog-social__container-box__group li .img-ttl a {
  display: block;
}

.blog-social__container-box__group li time {
  margin-bottom: 9px;
}

.blog-social__container-box__group li p:nth-of-type(1) {
  font-size: 2rem;
}

.blog-social__container-box__group li p:nth-of-type(2) {
  font-size: 1.6rem;
}
/*# sourceMappingURL=style.css.map */