
$colorYellow: #FEE757;

$colorGreen: #20D608;
$colorOrange: #FECF07;

$colorWhite: #FFFFFF;
$colorGrayd: #ECECEC;
$colorGrayService: #888888;
$colorBlack: #333333;
$colorBlue: #2A84AC;
$colorborder-Blue: #202037;
$colorTitle: #A4ABB0;
$colorTitle-Blue:#364D6A;
$colorGray: #1C1C1C;
$colorBackground: #FAFAFA;
$colorHeader: #444444;


