.about-visual {

  &-top {
    width: 100%;
    background-color: $colorborder-Blue;
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and(min-width: 767px) {
      height: 287px;
    }
    h2 {
      font-size: 4.8rem;
      @include Ave($colorWhite,4.8rem,700);
    }
  }

  &__img {
    .slider03 {
      background-image: url("../img/main-visual-slider03.png");
      height: 463px;
      background-position: center center;
      object-fit: cover;
      background-repeat: no-repeat;
      background-size: cover;
    }
  }





}