.office-data {
  background-color: $colorBackground;
  padding: 40px 40px;
  .container {

    @media screen and(min-width: 767px) {
      display: flex;
      justify-content: space-between;
      padding: 161px 0 133px 0;
      width: (882/1280)*100%;
      margin: 0 auto;
    }
    &__txt {
      padding-top: 40px;
      @media screen and(min-width: 767px) {
        width: (331/882)*100%;
      }
      h2 {
        @include Ave($colorHeader,2rem,700);
        margin-bottom: 20px;
        @media screen and(min-width: 767px) {
          font-size: 3.6rem;
          margin-bottom: 53px;
        }
      }
      .data-list {
        li {
          margin-bottom: 20px;
          @media screen and(min-width: 767px) {
            font-size: 2rem;
            margin-bottom: 20px;
          }
        }
      }
    }
  
  
    &__img {
      @media screen and(min-width: 767px) {
        width: (443/882)*100%;
      }
      img {
        width: 100%;
      }
    }
  }
}